<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.mapper.UserMapper">

	<resultMap id="userEntity" type="com.bdqn.entity.User">
		<id property="eid" column="eid" javaType="java.lang.Integer"></id>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="job" column="gonz"  javaType="java.lang.String"></result>
		<result property="salary" column="gz" javaType="java.lang.Integer"></result>
		<result property="createtime" column="rztime" javaType="java.util.Date"></result>
		<result property="departId" column="e_d_id" javaType="java.lang.Integer"></result>
	</resultMap>

	<select id="findUserByPrimaryKey" parameterType="java.lang.Integer" resultMap="userEntity">
		SELECT  * FROM empty WHERE  eid = #{eid}
	</select>
	<select id="findUser" parameterType="java.util.Map" resultMap="userEntity">
		SELECT  * FROM  empty limit #{page},#{rows}
	</select>
	<insert id="insertUser" parameterType="com.bdqn.entity.User">
		INSERT  INTO  empty values(#{eid},#{name },#{job},#{salary},now(),#{departId})
	</insert>
	<delete id="deleteUserByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM empty WHERE  eid = #{id}
	</delete>
	<update id="updateUser" parameterType="com.bdqn.entity.User">
		UPDATE  empty SET  name = #{name},gonz = #{job},gz = #{salary},rztime = #{createtime},e_d_id = #{departId} WHERE eid = #{eid}
	</update>

	<insert id="insertUserExample" parameterType="com.bdqn.entity.User">
		INSERT  INTO empty (
			<if test="eid !=null and eid != '' ">eid,</if>
			<if test=" name !=null and name !='' ">
				name ,
			</if>
			<if test="job !=null and job !='' ">
				gongz ,
			</if>
			<if test="salary !=null and salary != '' ">
				gz ,
			</if>
			<if test="departId !=null and depart != '' ">
				e_d_id,
			</if>
			rztime
		)values(
		<if test="eid !=null and eid != '' ">
			#{eid},
		</if>
		<if test=" name !=null and name !='' ">
			#{name} ,
		</if>
		<if test="job !=null and job !='' ">
			#{job} ,
		</if>
		<if test="salary !=null and salary != '' ">
			 #{salary},
		</if>
		<if test="departId !=null and depart != '' ">
			#{departId},
		</if>
		now()
		)
	</insert>
	<update id="updateUserExample" parameterType="com.bdqn.entity.User">
		UPDATE empty
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="job !=null and job !='' ">
				gongz = #{job},
			</if>
			<if test="salary !=null and salary != ''">
				gz = #{salary},
			</if>
			<if test="createtime !=null and createtime != ''">
				rztime = #{createtime},
			</if>
			<if test="departId !=null and departId != ''">
				e_d_id = #{departId},
			</if>
		</set>
		WHERE eid =#{eid}
	</update>

</mapper>